# Tuple
Tuple is an immutable collection of items. Unlike list, elements in a tuple cannot be changed once a tuple is created.

In [1]:
tup = (1, 3, 'Hello', 'universe', 5, 6)
tup

(1, 3, 'Hello', 'universe', 5, 6)

In [2]:
# Access elements by index
print(tup[2])
# Access elements by slicing
print(tup[1:4])

Hello
(3, 'Hello', 'universe')

In [3]:
tup[2] = 'cosmos' # Assignment is not allowed

TypeError: 'tuple' object does not support item assignment

In [4]:
# Convert list to tuple
even_list = [2, 4, 6, 8]
even_tup = tuple(even_list)
print(even_tup)

# Convert tuple to list
odd_tup = (1, 3, 5, 7)
odd_list = list(odd_tup)
print(odd_list)

(2, 4, 6, 8)
[1, 3, 5, 7]

# Set
A set is a collection of unique items which is unordered and unindexed. Sets are written with curly brackets.

In [6]:
my_set = {3, 5, 'apple', 'python'}
my_set

{3, 5, 'apple', 'python'}

In [7]:
my_set[3] # Indexing is not supported

TypeError: 'set' object does not support indexing

## Adding and Removing Items
Changing items in a set is not allowed. However, we can add and remove items.

In [8]:
fruits = {'apple', 'orange', 'mango'}
print(fruits)
fruits.add('banana')  # add single item
print(fruits)

{'orange', 'apple', 'mango'}
{'banana', 'orange', 'apple', 'mango'}

In [9]:
# add multiple items as list, set or tuple
fruits.update(['cherry', 'pineapple', 'watermelon'])
fruits

{'apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple', 'watermelon'}

In [10]:
# Set contains unique items
fruits.update(['apple', 'grapes'])
fruits

{'apple',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'pineapple',
 'watermelon'}

In [13]:
# Removing items
fruits.remove('banana')  # If the item to remove does not exist, remove() will raise an error.
fruits

KeyError: 'banana'

In [14]:
fruits.discard('banana') # If the item to remove does not exist, discard() will NOT raise an error
fruits

{'apple', 'cherry', 'grapes', 'mango', 'orange', 'pineapple', 'watermelon'}

In [16]:
fruits.pop()

'pineapple'

In [17]:
fruits

{'apple', 'grapes', 'mango', 'orange', 'watermelon'}

In [18]:
# Conversion
my_list = [3, 5, 6, 4, 2, 4, 6]
my_set = set(my_list)
my_set

{2, 3, 4, 5, 6}

# String

In [19]:
name = 'A man has no name.'
name

'A man has no name.'

In [20]:
name[0]

'A'

In [21]:
name[2:9]

'man has'

In [22]:
'man' in name

True

In [23]:
address = '   Some part of the Milky Way Galaxy   '

In [24]:
address.strip()

'Some part of the Milky Way Galaxy'

In [25]:
address.lstrip()

'Some part of the Milky Way Galaxy   '

In [26]:
address.rstrip()

'   Some part of the Milky Way Galaxy'

In [27]:
address

'   Some part of the Milky Way Galaxy   '

In [28]:
address = address.strip()
print(address)
print(address.lower())
print(address.upper())
print(address.swapcase())
print(address.title())
print(address.capitalize())

Some part of the Milky Way Galaxy
some part of the milky way galaxy
SOME PART OF THE MILKY WAY GALAXY
sOME PART OF THE mILKY wAY gALAXY
Some Part Of The Milky Way Galaxy
Some part of the milky way galaxy

In [29]:
address.replace('a', 'X')

'Some pXrt of the Milky WXy GXlXxy'

In [30]:
address

'Some part of the Milky Way Galaxy'

In [31]:
address.split()

['Some', 'part', 'of', 'the', 'Milky', 'Way', 'Galaxy']

In [34]:
address.split('a')

['Some p', 'rt of the Milky W', 'y G', 'l', 'xy']

In [35]:
fruits = 'apple,mango,orange'
fruits.split(',')

['apple', 'mango', 'orange']

In [36]:
name = input('Enter your name:')
print('Hello, ', name)

Enter your name: python

Hello,  python

In [37]:
x = address.split()
x

['Some', 'part', 'of', 'the', 'Milky', 'Way', 'Galaxy']

In [38]:
arrow = '-->'
arrow.join(x)

'Some-->part-->of-->the-->Milky-->Way-->Galaxy'

In [39]:
' '.join(x)

'Some part of the Milky Way Galaxy'

In [40]:
template = 'My name is {}. I am {} years old.'
template.format('Richard', 35)

'My name is Richard. I am 35 years old.'

In [41]:
print('I live in {place}. The pollution index in this place is {indx}.'.format(place='Kathmandu', indx=245))

I live in Kathmandu. The pollution index in this place is 245.

String has many other methods that I have not covered here. You might want to explore them on your own.

# Packing and Unpacking

In [42]:
# Packing a tuple
info = ('Hari', 'Male', 24)
# Unpacking a tuple
(name, sex, age) = info

print(name)
print(sex)
print(age)

Hari
Male
24

In [43]:
# Combine packing and unpacking
(x, y) = (5, 6)
print(x)
print(y)

5
6

In [44]:
a, b = 4, 5
print(a)
print(b)

4
5

In [45]:
# With list
a, b = [4, 5]
print(a)
print(b)

4
5

In [48]:
# With string
x, y, z = 'Why'
print(x)
print(y)
print(z)

W
h
y

### Unpacking using asterisk (\*)

In [49]:
id_no, *name, age = 1001, 'Madan', 'Krishna', 'Shrestha', 34
print(id_no)
print(name)
print(age)

1001
['Madan', 'Krishna', 'Shrestha']
34

In [50]:
first, *remaining = [1, 2, 3, 4, 5, 6]
print(first)
print(remaining)

1
[2, 3, 4, 5, 6]